.TabTrigger {
  border-radius: 0;
  box-shadow: none;
  outline: none;
  outline-offset: 0;
  margin-bottom: 1rem;

  :focus-visible {
    outline-offset: 0;
  }

  &[data-state='active'] {
    color: white;
    background: none !important;
  }
}
